$container-side-padding-desktop: 20px;
$scroll-width: 20px;

$primary-text-color: #48494d;
$alternative-text-color: #000000;
$primary-background-color: #ffffff;

$secondary-text-color: #000000;
$secondary-background-color: #f5f5f9;

$interactive-color: #ffffff;
$interactive-alternate-color: #d12136;
$interactive-hover-color: #bd0c21;

$border-color: #d7d9df;
$disabled-color: #bdbec2;

$reviews-border-color: rgba(#000000, 0.2);
$reviews-overlay-color: rgba(#000000, 0.5);
$reviews-decoration-color: #ff0000;
$reviews-close-button-hover-color: #000000;

$contacts-item-key-color: #1a212f;
$contacts-item-value-color: #000000;

$primary-outline-color: #d12136;
$secondary-outline-color: #ffffff;
$outline-alternate-color: #005fcc;
