$container-side-padding-desktop: 60px;

$primary-text-color: #48494d;
$primary-background-color: #ffffff;

$secondary-text-color: #000000;
$secondary-background-color: #f5f5f9;

$interactive-color: #ffffff;
$interactive-alternate-color: #d12136;
$interactive-hover-color: #bd0c21;

$slider-arrow-default-color: #d7d9df;

$contacts-text-color: #1a212f;

$disabled-color: #bdbec2;
