.office-map__map {
  position: relative;
  width: 431px;
  height: 271px;
}

.office-map__map-image {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 431px;
  height: 271px;
}

.office-map__map-pin {
  position: absolute;
  z-index: -1;
  left: 114px;
  top: 72px;
  width: 32px;
  height: 40px;
}
