.primary-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
}

.primary-navigation li {
  margin-left: 68px;
}

.primary-navigation a {
  @include navigation-link();
}
