.footer {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $secondary-background-color;
}

.footer__container {
  @include container();

  padding-left: 9px + $container-side-padding-desktop;
  padding-right: 2px + $container-side-padding-desktop;

  overflow: hidden;
}
