.secondary-navigation {
  list-style: none;
  margin: 0;
  margin-left: -25px;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.secondary-navigation__item {
  margin-left: 25px;
}
