.secondary-navigation {
  list-style: none;
  margin: 0;
  margin-right: -25px;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.secondary-navigation li {
  margin-right: 25px;
}

.secondary-navigation a {
  @include navigation-link();
}
