.product-information {
  padding-top: 74px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.product-information h1 {
  @include page-title();

  margin-bottom: 21px;
  margin-left: 3px;
}

.product-information__features {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: -12px;
  margin-bottom: 22px;
}

.product-information__features-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 12px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  opacity: 0.5;

  &--engine-type-gasoline {
    &::before {
      content: "";
      display: table;
      width: 44px;
      height: 40px;

      background: transparent url("../../images/engine-type-gasoline-icon.svg") no-repeat center center / 24px 22px;
    }
  }

  &--transmission-manual {
    &::before {
      content: "";
      display: table;
      width: 40px;
      height: 40px;

      background: transparent url("../../images/transmission-manual-icon.svg") no-repeat center center / 40px 40px;
    }
  }

  &--horsepower {
    &::before {
      content: "";
      display: table;
      width: 62px;
      height: 40px;

      background: transparent url("../../images/horsepower-icon.svg") no-repeat center center / 32px 21px;
    }
  }

  &--engine-capacity {
    &::before {
      content: "";
      display: table;
      width: 68px;
      height: 40px;

      background: transparent url("../../images/engine-capacity-icon.svg") no-repeat center center / 30px 23px;
    }
  }
}

.product-information__prices {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin-bottom: 37px;
  margin-left: 3px;
}

.product-information__prices strong {
  display: flex;
  margin-right: 36px;

  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  white-space: pre;
}

.product-information__prices span {
  position: relative;
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  white-space: pre;

  opacity: 0.5;

  &::before {
    content: "";
    display: table;
    position: absolute;
    z-index: 1;
    left: -3px;
    top: -2px;
    width: calc(100% + 12px);
    height: calc(100% + 2px);

    background: transparent url("data:image/svg+xml,%3Csvg width='125' height='13' viewBox='0 0 125 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12.5L124 1' stroke='%2348494d'/%3E%3C/svg%3E") center center / 100% 100%;
  }
}

.product-information__buy-car-button {
  display: flex;
  padding: 16px 19px;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.12em;
  text-decoration: none;
  text-transform: uppercase;

  color: $interactive-color;
  background-color: $interactive-alternate-color;

  &:hover {
    background-color: $interactive-hover-color;
  }

  &:active {
    opacity: 0.8;
  }
}

.product-information__loan-car-button {
  display: flex;
  padding: 16px 19px;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.12em;
  text-decoration: none;
  text-transform: uppercase;

  color: $interactive-alternate-color;
  background-color: $interactive-color;
  border: 1px solid $interactive-alternate-color;

  &:hover {
    color: $interactive-color;
    background-color: $interactive-alternate-color;
  }

  &:active {
    opacity: 0.8;
  }
}
