.product-slider {
  padding-top: 90px;
  display: flex;
  flex-flow: column;

  user-select: none;
}

.product-slider__active-image-container {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  display: flex;

  background-color: $secondary-background-color;

  &--new-model {
    &::before {
      content: "new model";
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      padding: 8px 28px;

      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.07em;
      text-transform: uppercase;

      color: $interactive-color;
      background-color: $interactive-alternate-color;
    }
  }
}

.product-slider__active-image-link {
  display: flex;
}

.product-slider__active-image {
  width: 600px;
  height: 375px;
  display: flex;

  text-align: right;
}

.product-slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.product-slider__arrow-button {
  display: flex;
  margin: 0;
  padding: 0;
  width: 52px;
  height: 52px;

  cursor: pointer;
  background-color: transparent;
  border: 1px solid $border-color;
  border-radius: 50%;

  &--next {
    order: 1;
  }

  &:hover {
    border-color: $primary-text-color;
  }

  &:disabled {
    cursor: default;
    border-color: $border-color;
    opacity: 1;
  }
}

.product-slider__arrow-button path {
  stroke: $primary-text-color;
}

.product-slider__arrow-button:disabled path {
  stroke: $border-color;
}

.product-slider__thumbnails {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-right: -25px;
}

.product-slider__thumbnail-image {
  margin-right: 25px;
  width: 128px;
  height: 80px;
  display: table;

  background-color: $secondary-background-color;
}
