.product-review {
  margin-bottom: 19px;
  display: flex;
  flex-flow: wrap;
}

.product-review__author {
  width: 100%;
  margin-bottom: 14px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: $primary-text-color;
}

.product-review__text-container {
  margin: 0;
  padding: 0;
  margin-bottom: (20px - 13px);
  width: 100%;
  display: flex;
  flex-flow: column;
}

.product-review__text-key {
  position: relative;
  margin-bottom: 3px;
  display: flex;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  color: $alternative-text-color;

  &--advantages {
    padding-left: 19px;

    &::before {
      content: "+";
      position: absolute;
      z-index: 1;
      left: 0;

      color: $reviews-decoration-color;
    }
  }

  &--disadvantages {
    padding-left: 19px;

    &::before {
      content: "–";
      position: absolute;
      z-index: 1;
      left: 0;

      color: $reviews-decoration-color;
    }
  }
}

.product-review__text-value {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: $alternative-text-color;

  &--advantages {
    padding-left: 19px;
  }

  &--disadvantages {
    padding-left: 19px;
  }
}

.product-review__rating {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 26px;
  padding-left: (103px + 20px);

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: $interactive-alternate-color;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    width: 103px;
    height: 17px;

    background: transparent url("../../images/rating.svg") no-repeat left center / 103px 17px;
  }

  &--stars-1,
  &--stars-2,
  &--stars-3,
  &--stars-4,
  &--stars-5 {
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      height: 17px;

      background: transparent url("../../images/rating-active.svg") no-repeat left center / 103px 17px;
    }
  }

  &--stars-1 {
    &::after {
      width: (103px * 1 / 5);
    }
  }

  &--stars-2 {
    &::after {
      width: (103px * 2 / 5);
    }
  }

  &--stars-3 {
    &::after {
      width: (103px * 3 / 5);
    }
  }

  &--stars-4 {
    &::after {
      width: (103px * 4 / 5);
    }
  }

  &--stars-5 {
    &::after {
      width: (103px * 5 / 5);
    }
  }
}

.product-review__created-at {
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  opacity: 0.4;
  color: $alternative-text-color;
}

.product-review__response {
  margin-left: 27px;
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;

  color: $interactive-alternate-color;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.7;
  }
}
