.product-tab-contacts {
  display: grid;
  grid-template-columns: 274px 1fr;
  grid-column-gap: 74px;
}

.product-tab-contacts__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;

  margin-top: -5px;
}

.product-tab-contacts__list-item-key {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.product-tab-contacts__list-item-value {
  margin: 0;
  margin-bottom: 24px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.product-tab-contacts__map {
  position: relative;
  width: 431px;
  height: 271px;
}

.product-tab-contacts__map-image {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 431px;
  height: 271px;
}

.product-tab-contacts__map-pin {
  position: absolute;
  z-index: -1;
  left: 114px;
  top: 72px;
  width: 32px;
  height: 40px;
}
