.product-tab-specifications {
  width: 565px;
}

.product-tab-specifications__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: $primary-text-color;
}

.product-tab-specifications__key {
  padding-top: 19px;
  padding-bottom: 8px;
  padding-right: 20px;

  border-bottom: 1px solid $border-color;

  &:first-of-type {
    padding-top: 0;
  }
}

.product-tab-specifications__value {
  margin: 0;
  padding-left: 20px;
  padding-top: 19px;
  padding-bottom: 8px;

  text-align: right;

  color: $alternative-text-color;
  border-bottom: 1px solid $border-color;

  &:first-of-type {
    padding-top: 0;
  }
}
