.container {
  @include container();
}

.page {
  height: 100%;
}

.page-body {
  height: 100%;

  font-family: "opensans", "tahoma", sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;

  color: $primary-text-color;
  background-color: $primary-background-color;
}

.page-layout {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page-main {
  width: 100%;

  &--product-page {
    @include container();
  }

  &--not-found-page {
    @include container();

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.page-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;

  color: $primary-text-color;
}

.page-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;

  color: $primary-text-color;

  &:hover {
    text-decoration: underline;

    &.active {
      text-decoration: none;
      cursor: default;
    }
  }

  &:active,
  &.active {
    color: $interactive-alternate-color;
  }
}
