@mixin container() {
  box-sizing: border-box;
  min-width: 1024px - $scroll-width;
  max-width: 1176px + 2 * $container-side-padding-desktop;
  margin: 0 auto;
  padding-left: $container-side-padding-desktop;
  padding-right: $container-side-padding-desktop;
}

@mixin outline() {
  box-shadow: 0 0 0 2px $interactive-alternate-color, 0 0 0 3px $secondary-outline-color;
}

@mixin outline-alternative() {
  box-shadow: 0 0 0 1px $secondary-outline-color, 0 0 0 3px $interactive-alternate-color;
}
