.page-body {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: calc(50% - 1920px / 2);
    //content: "";
    display: table;
    width: 1920px;
    height: 1747px;

    //background: transparent url("./product-page-specifications-tab-desktop.jpg") no-repeat center top / 1920px 1390px;
    //background: transparent url("./product-page-reviews-tab-desktop.jpg") no-repeat center top / 1920px 1747px;
    //background: transparent url("./product-page-contacts-tab-desktop.jpg") no-repeat center top / 1920px 1390px;
    //background: transparent url("./product-review-form@2x.jpg") no-repeat center 192px / 698px 413px;
    opacity: 0.3;
  }
}

.page-layout {
  //opacity: 0.5;
}
